<nav class="h-auto navbar bg-danger navbar-quizapp position-sticky">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= link_to welcome_path, class: 'navbar-logo' do %>
        <%= logo_html.html_safe %>
      <% end %>
      <div class="form-check form-switch mx-4">
        <%= check_box_tag "theme_switch", "on", false, id: "flexSwitchCheckChecked", class: "form-check-input p-2", onclick: "toggleTheme()" %>
      </div>
    </div>
    <% if current_user %>
      <div class="d-flex align-items-center">
        <h5 class="me-3 mb-0">
          <%= link_to t('forms.scoreboard'), scoreboard_steps_path, class: 'text-white m-0 fw-normal' %>
        </h5>
        <h5 class="me-3 mb-0">
          <%= link_to t('forms.edit_profile'), edit_user_path, class: 'text-white m-0 fw-normal' %>
        </h5>
        <h5 class="mb-0">
          <%= link_to t('forms.sign_out'), '#', class: 'text-white m-0 fw-normal', data: { bs_toggle: 'modal', bs_target: '#signoutModal' } %>
        </h5>
        <%= render "shared/flag" %>
      </div>
    <% end %>
    <script>
      function toggleTheme() {
        var element = document.documentElement;
        var currentTheme = element.dataset.bsTheme;
        var newTheme = currentTheme === "light" ? "dark" : "light";
        element.dataset.bsTheme = newTheme;
        localStorage.setItem("theme", newTheme);
        document.getElementById('flexSwitchCheckChecked').checked = newTheme === "dark";
      }
      function initializeLightMode() {
        var savedTheme = localStorage.getItem('theme') || "light";
        document.documentElement.dataset.bsTheme = savedTheme;
        document.getElementById('flexSwitchCheckChecked').checked = savedTheme === "dark";
      }
      initializeLightMode();
    </script>
  </div>
</nav>